__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/
*.whl

venv/
.venv/
env/

.env
*.sqlite3
db.sqlite3

*.log
celerybeat-schedule
celerybeat.pid

staticfiles/
media/

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

/backups/
*.dump
.md
